// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-cod-gray: #171717;
$color-wild-sand: #F5F5F5;
$color-silver-chalice: #A4A4A4;
$color-mercury: #E8E8E8;
$color-elephant: #11253D;
$color-burning-orange: #FC6D3E;

// Typography
$ff-main: 'Actor', 'Arial', sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;