@use '../../styles/global/variables' as *;
@use '../../styles/global/mixins' as *;

.search-field {
  position: relative;
  width: 100%;

@include vp-767{
  display: none;
}

  &__input {
    width: 100%;
    padding: 15px 15px 15px 44px;
    border: none;
    border-radius: 30px;
    background-color: $color-wild-sand;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    color: $color-cod-gray;
    outline: none;

    &::placeholder {
      color: $color-silver-chalice;
    }
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
  }
}
